<div fxLayout="column" fxLayoutAlign="start stretch">
  
  <!-- main content -->
  <section fxFlex class="store-content-container-narrow" ngClass.gt-sm="section-desktop">
    <h1>Flathub official badges</h1>
    <p>You can use these badges to promote your application on Flathub</p>
    
    <h3>Preferred badge</h3>
    <img width="240" alt='Download on Flathub' src='/assets/badges/flathub-badge-en.png'/>
    <h6 class="badge-info-svg">Also available in <a href="/assets/badges/flathub-badge-en.svg">svg format</a></h6>
    
    <h3>Alternative badge</h3>
    <img width="240" alt='Download on Flathub' src='/assets/badges/flathub-badge-i-en.png'/>
    <h6 class="badge-info-svg">Also available in <a href="/assets/badges/flathub-badge-i-en.svg">svg format</a></h6>
    
    <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
      <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">
        <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
      </a>
      <br />
      To the extent possible under law,
      <a rel="dct:publisher" href="https://flathub.org/badges">
        <span property="dct:title">Jakub Steiner</span>
      </a>
      has waived all copyright and related or neighboring rights to
      <span property="dct:title">Flathub Badges</span>.
      This work is published from:
      <span property="vcard:Country" datatype="dct:ISO3166" content="CZ" about="https://flathub.org/badges">Czech Republic</span>.
    </p>

    <h2>Code examples</h2>
    <h3>HTML</h3>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start stretch">
      <div class="badge-example-code" fxFlex="70">
        <store-pre [text]="badgeExampleCode"></store-pre>
      </div>
      <div fxFlex="5">
      </div>
      <div fxFlex="15">
        <a href='https://flathub.org/apps/details/org.gimp.GIMP'><img width='240' alt='Download on Flathub' src='/assets/badges/flathub-badge-en.png'/></a>
      </div>
    </div>
    <h3>MoinMoin Wiki</h3>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start stretch">
      <div class="badge-example-code" fxFlex="70">
        <store-pre [text]="badgeExampleCodeMoinMoin"></store-pre>
      </div>
      <div fxFlex="5">
      </div>
      <div fxFlex="15">
        <a href='https://flathub.org/apps/details/org.gimp.GIMP'><img width='240' alt='Download on Flathub' src='/assets/badges/flathub-badge-en.png'/></a>
      </div>
    </div>
    
  </section>
  
</div>
