section {
    padding-top: 100px;
    min-height: 800px;
  }
  
  p {
    margin-bottom: 1.5em;
  }
  
  pre {
    margin-bottom: 2.5em;
  }
  

  .badge-info-svg {
  margin-top: 0.5em !important;
  color: #808080;
}

.badge-example-code store-pre{
    min-height: 400px;
}