div.pre {
  display: block;
  position: relative;
  padding: 9.5px;
  padding-right: 40px;
  margin: 0 0 10px;
  font-size: 13px !important;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;

  button.copy {
    position: absolute;
    right: 8px;
    top: -3px;
  }
}
