div.pre {
  display: block;
  position: relative;
  padding: 10px 12px;
  margin: 0 0 10px;
  font-size: 13px !important;
  line-height: 1.42857143;
  color: #333333;
  background-color: rgba(236, 236, 236, 0.5);
  border-radius: 4px;
  overflow: auto;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;

  button.copy {
    position: absolute;
    right: 8px;
    top: -3px;
  }
}

mat-icon {
  font-size: 18px;
  opacity: 0.5;
}
