mat-grid-tile{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  background: #FFFFFF !important;
  cursor: pointer;
  overflow: visible;
}


mat-grid-tile:hover{
  background-color: #BCBCB6 !important;
}


