<div fxLayout="column" fxLayoutAlign="start stretch">

  <!-- main content -->
  <section fxFlex class="store-content-container-narrow">
    <h2 id="using">Flathub setup instructions</h2>
    <p>
      1. Follow the
      <a href="https://flatpak.org/getting.html">Flatpak installation instructions</a>
      for your distribution.
    </p>
    <p>
      2. Add the Flathub repository - with many distributions, you can download the
      <a href="https://dl.flathub.org/repo/flathub.flatpakrepo">the repository file</a>
      and install it with GNOME Software. Alternatively, from the command line, run:
    </p>
    <pre><span class="unselectable">$ </span>flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo</pre>
    <p>
      3. That's it! You can now install apps from an app center, by
      <a href="apps/">browsing them online</a>, or through the flatpak command line.
    </p>
  </section>

</div>
