<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer [opened]="!isSmallScreen()"
  [mode]="isSmallScreen() ? 'over' : 'side'"
  [disableClose]="!isSmallScreen()"
  (openedChange)="onOpenedChange($event)">
    <div class="docs-component-viewer-nav">
      <div class="docs-component-viewer-nav-content">
        <nav>
          <h3>DISCOVER</h3>
          <ul *ngIf="featuredCollections">
            <li *ngFor="let collection of featuredCollections">
              <a (click)="onDrawerLinkClick()" [routerLink]="'/apps/collection/' + collection.id" routerLinkActive="selected-item">{{collection.shortname}}</a>
            </li>
          </ul>
          <hr/>
        </nav>
        <nav>
          <h3>CATEGORIES</h3>
          <ul>
            <li>
              <a [routerLink]="'/apps/category/All'" routerLinkActive="selected-item">All</a>
            </li>
            <li *ngFor="let category of categories; let last = last;">
              <a (click)="onDrawerLinkClick()" [routerLink]="'/apps/category/' + category.id" routerLinkActive="selected-item">
                {{category.name}}
              </a>
            </li>
          </ul>
          <!-- <hr *ngIf="!last" /> -->
        </nav>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <button *ngIf="isSmallScreen()" mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>

    <section>

      <div *ngIf="showDefaultInfo && featuredCollections">
        <store-app-collection-teaser *ngFor="let collection of featuredCollections" [collectionId]="collection.id" [collectionTitle]="collection.name"
          [collectionList]="getAppsByCollectionId(collection.id)">
        </store-app-collection-teaser>
      </div>

      <div *ngIf="!showDefaultInfo && apps">
        <h2>{{getTitle()}}</h2>
        <p *ngIf="apps">{{(apps)?.length}} results</p>
        <div>
          <store-app-card-list [apps]="apps" [minCols]="2" [colWidth]="200"></store-app-card-list>
        </div>
      </div>

    </section>
  </mat-drawer-content>
</mat-drawer-container>
