$sidenav-width: 240px;

.drawer-container {
  width: 100%;
  min-height: 1000px;
  padding-left:  2%;
  padding-right: 5%;
  padding-top: 25px;
  background-color: white;
}

.drawer-content {
  padding-left: 3%;
  padding-right: 0;
}


.docs-component-viewer-nav {
  position: sticky;
  top: 60px;

  .docs-component-viewer-nav-content {
    padding-left: 15px;
    padding-right: 15px;
    width: $sidenav-width;
    //max-height: 75vh;
    overflow: auto;

    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }

    hr {
      padding: 0;
      margin: 0;
    }

    ul {
      list-style-type: none;
      margin: -5px 0 5px 0;
      padding: 0;
      overflow: hidden;
    }

    li {
      font-size: 13px;
      line-height: 16px;
      margin: 0;
      padding: 5px 15px 5px 20px;
    }

    a {
      display: block;
      text-decoration: none;
    }
  }
}

.selected-item{
  font-weight: bold;
}


