<md-sidenav-container fxFlex>

  <!-- sidenav -->
  <md-sidenav align="start" mode="side" opened="true" #sidenav class="mat-elevation-z6">
    Categories
  </md-sidenav>

  <div class="flex-container" fxLayout='row' fxLayoutAlign="start stretch">

    <!-- <div fxFlex="30" class="one">Hola</div> -->

    <!-- main content -->
    <md-grid-list cols="10" gutterSize="2" rowHeight="3:4" fxFlex="90" fxFlexOffset="5">
      <md-grid-tile *ngFor="let app of apps">
        <img class="app-tile-icon" src="{{app.iconUrl}}" border="0" alt="icon of the app {{app.name}}">
        <md-grid-tile-footer>
          <h3 md-line>{{app.name}}</h3>
          <span md-line>{{app.summary}}</span>
          <button md-icon-button (click)="gotoDetail(app.flatpakAppId)">
        <md-icon>info</md-icon>
      </button>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>

    <!-- <div fxFlex class="three">Adeu</div> -->

  </div>


</md-sidenav-container>
