$sidenav-width: 180px;

.drawer-container {
  width: 100%;
  min-height: 750px;
  padding-right: 5%;
  padding-top: 25px;
  background-color: white;
}

.drawer-content {
  padding-left: 3%;
  padding-right: 16px;
}


.docs-component-viewer-nav {
  position: relative;
  height: calc(100% - 100px);
  top: 80px;
  bottom: 20px;

  .docs-component-viewer-nav-content {
    padding-left: 15px;
    padding-right: 15px;
    width: $sidenav-width;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }

    hr {
      padding: 0;
      margin: 0;
    }

    ul {
      list-style-type: none;
      margin: -5px 0 5px 0;
      padding: 0;
      overflow: hidden;
    }

    li {
      font-size: 13px;
      line-height: 16px;
      margin: 0;
      padding: 5px 15px 5px 20px;
    }

    a {
      display: block;
      text-decoration: none;
    }
  }
}

.selected-item{
  font-weight: bold;
}

.mat-drawer{
  position: fixed;
  padding-left: 2%;
}