<div>
  <!-- header -->
  <header class="store-content-container">
    <div class="header-content">
      <h1>Flatpak Applications</h1>

      <p>
        This page lists some of the apps that are available as Flatpaks, along with instructions for how to try them. Read more about
        Flatpak on the
        <a href="http://flatpak.org">Flatpak website.</a>
      </p>
    </div>
  </header>

  <!-- main content -->
  <section class="store-content-container">
    <div>
      <p *ngIf="!apps">Loading apps ...</p>
      <mat-grid-list *ngIf="!apps" cols="{{numCols}}" gutterSize="12" rowHeight="6:7" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor="let app of emptyApps" (click)="gotoDetail(app.flatpakAppId)">
          <img class="app-tile-icon" src="{{app.iconUrl}}" border="0" alt="">
          <mat-grid-tile-footer matTooltip="{{app.name}}  -  {{app.summary}}">
            <p class="app-name" matLine>{{app.name}}</p>
            <span class="app-summary" matLine>{{app.summary}}</span>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div>
      <p *ngIf="apps">Currently {{(apps)?.length}} apps and growing!</p>
      <mat-grid-list #applist cols="{{numCols}}" gutterSize="12" rowHeight="6:7" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor="let app of apps" (click)="gotoDetail(app.flatpakAppId)">
          <img class="app-tile-icon" src="{{app.iconUrl}}" border="0" alt="icon of the app {{app.name}}">
          <mat-grid-tile-footer matTooltip="{{app.name}}  -  {{app.summary}}">
            <p class="app-name" matLine>{{app.name}}</p>
            <span class="app-summary" matLine>{{app.summary}}</span>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </section>

</div>
