:host {
  height: calc(100% - 168px);
  display: block;
  position: relative;
  margin: 56px 16px;
  @media (min-width: 500px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
  }
  @media (min-width: 1000px) {
    max-width: 50%;
  }
}
