.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.search-box-container{
  border: none;
  border-radius: 100px;
  background-color: #fafafa;
  padding-left: 5px;
  width: 160px;
  height: 30px;
}
.search-box{
  border: none;
  outline:none;
  height: 20px;
  width: 100px;
  padding-right: 5px;
  top: 25%;
  transform: translateY(-25%);
}
.search-box-button{
  width: 20px;
  color: grey;
  padding-right: 1px;
  top: 35%;
  transform: translateY(-35%);
}

.fixed-toolbar-spacer{
  height: 56px;
}

.fixed-toolbar-spacer-gt-sm{
  height: 64px;
}

.toolbar-content{
  display: flex;
  flex: 1 1 auto;
}

.flex-fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

mat-icon.open-in-new{
  font-size: 16px;
  height: 16px;
  width: 16px;
}

.mat-menu-item{
  font-weight: 400;
}

