.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.store-logo {
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  padding: 2px; margin: 2px;
  &:hover {
    background-color: rgba(255,255,255,0.3);
  }
}

.search-box-container{
  border: none;
  border-radius: 100px;
  background-color: #fafafa;
  margin-top:5px;
  padding-left: 5px;
  width: 160px;
  height: 30px;
}

.search-box{
  border: none;
  -webkit-appearance: none;
  background-color: #fafafa;
  outline:none;
  height: 90%;
  width: 70%;
  top: 25%;
  transform: translateY(-25%);
}

.search-box-mobile{
  border: none;
  background-color: #fafafa;
  outline:none;
  height: 90%;
  width: 70%;
  top: 30%;
  transform: translateY(-30%);
}

.search-box-icon{
  padding-left: 2px;
  color: grey;
}

.fixed-toolbar-spacer{
  height: 56px;
}

.fixed-toolbar-spacer-gt-sm{
  height: 64px;
}

.toolbar-content{
  display: flex;
  flex: 1 1 auto;
}

.flex-fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

mat-icon.open-in-new{
  font-size: 16px;
  height: 16px;
  width: 16px;
}

.mat-menu-item{
  font-weight: 400;
}

