<mat-toolbar color="primary">
  <div class="toolbar-content">
    <div>
      <a class="store-logo-button" routerLink="/" aria-label="Flathub" mat-button>
        <img src="../../../assets/themes/flathub/flathub-logo-toolbar.svg" alt="flathub">
      </a>
    </div>

    <div class="flex-fill-remaining-space">
      <div class="search-box-container">
        <div [class]="'search-form '+(showSearchInput? 'active': '')">
          <mat-icon class="search-box-icon show-md" (click)="onTogleSearch()">arrow_back</mat-icon>
          <mat-icon class="search-box-icon hide-md" (click)="onSearch(searchBox.value)">search</mat-icon>
          <input #searchBox id="search-box" class="search-box" type="search" placeholder="Search apps" (keyup.enter)="onSearch(searchBox.value)" />
        </div>
      </div>
    </div>

    <div class="hide-md toolbar-nav">
      <button mat-button routerLink="apps">APPLICATIONS</button>
      <a mat-button href="https://github.com/flathub/flathub/wiki/App-Submission">PUBLISH</a>
      <button mat-button routerLink="about">ABOUT</button>
    </div>

    <div class="show-md">
      <button mat-icon-button (click)="onTogleSearch()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" overlapTrigger="false">
        <button mat-menu-item routerLink="apps">APPLICATIONS</button>
        <a mat-menu-item href="https://github.com/flathub/flathub/wiki/App-Submission">PUBLISH</a>
        <button mat-menu-item routerLink="about">ABOUT</button>
      </mat-menu>
    </div>
  </div>

</mat-toolbar>
<!-- Do not remove: this div fills the space under the toolbar so content doesn't hide -->
<div class="fixed-toolbar-spacer"></div>