<mat-toolbar class="fixed-toolbar" color="primary">



  <div fxHide fxShow.gt-sm class="toolbar-content">

    <a class="store-logo-button" routerLink="/" aria-label="Flathub">
      <img class="store-logo" src="../../../assets/themes/flathub/flathub-logo-toolbar.svg" alt="flathub">
    </a>

    <div><a mat-button routerLink="apps">APPLICATIONS</a></div>


    <span class="flex-fill-remaining-space"></span>


    <div class="search-box-container">
      <mat-icon class="search-box-icon">search</mat-icon>
      <input #searchBox id="search-box" class="search-box" type="search" placeholder="Search apps" (keyup.enter)="onSearch(searchBox.value)"
      />
    </div>

    <div>
    <a mat-button href="https://github.com/flathub/flathub/wiki/App-Submission" aria-label="Publish an app on Flathub">
      PUBLISH
    </a>
    <a mat-button routerLink="about">ABOUT</a>
  </div>
  </div>

  <div fxShow fxHide.gt-sm class="toolbar-content">

    <button *ngIf="!showSearchInput" mat-icon-button [matMenuTriggerFor]="menu" xPosition="after">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">

      <a mat-menu-item routerLink="apps">
        <span>APPLICATIONS</span>
      </a>
      <a mat-menu-item href="https://github.com/flathub/flathub/wiki/App-Submission" aria-label="Publish your app on Flathub">PUBLISH
      </a>
      <a mat-menu-item routerLink="about">
        <span>ABOUT</span>
      </a>

    </mat-menu>

    <a *ngIf="!showSearchInput" mat-button class="store-logo-button flex-fill-remaining-space" routerLink="/" aria-label="Flathub">
      <img class="store-logo" src="../../../assets/themes/flathub/flathub-logo-toolbar.svg" alt="flathub">
    </a>

    <div *ngIf="showSearchInput" class="search-box-container flex-fill-remaining-space">
      <mat-icon class="search-box-icon">search</mat-icon>

      <input #searchBox id="search-box" class="search-box-mobile" type="search" placeholder="Search apps" (keyup.enter)="onSearch(searchBox.value)"
      />
    </div>

    <button *ngIf="showSearchInput" mat-icon-button (click)="onCloseSearch()">
      <mat-icon>close</mat-icon>
    </button>

    <button *ngIf="!showSearchInput" mat-icon-button (click)="onTogleSearch()">
      <mat-icon>search</mat-icon>
    </button>



  </div>

</mat-toolbar>
<!-- Do not remove: this div fills the space under the toolbar so content doesn't hide -->
<div class="fixed-toolbar-spacer"></div>
