section {
    padding-top: 100px;
    min-height: 800px;
}
  
h3{
  padding-top: 40px;
}
.section-desktop{
  min-height: 700px;
}

p {
  margin-bottom: 1.5em;
}

.hint {
    margin-top: 0.5em !important;
    color: #808080;
  }