<div fxLayout="row" fxLayoutAlign="start stretch">
  <div fxFlex="5">

  </div>
  <div fxFlex="70">
    <h3>Installation instructions</h3>
    <md-card>

      <md-tab-group class="install-instructions-card">
        <md-tab label="Click to download">
          <div>
            <md-list dense>
              <md-list-item>
                <p>1. Click to download is available on Arch, Debian Stretch (or later), Endless OS, Fedora 25 (or later), Mageia
                  6 (or later), and OpenSUSE Tumbleweed</p>
              </md-list-item>
              <md-list-item>
                <p>2. If you don't have it already, you'll need to <a href="http://flatpak.org/getting.html">&nbsp;get Flatpak</a></p>
              </md-list-item>
              <md-list-item>
                <p>3. For Flatpak versions &lt; 0.10.0 it is also recommended to add the flathub repository first. You can
                  <a href="http://flatpak.org/getting.html">&nbsp;download&nbsp;</a>the repository file and use your distribution's
                  software manager (GNOME Software, KDE Discover, ...) to install it.</p>
              </md-list-item>
              <md-list-item>
                <p>4. Click on the INSTALL button</p>
              </md-list-item>
              <md-list-item>
                <p>5. Your distibution's software manager will open automatically and will install the app</p>
              </md-list-item>
            </md-list>
          </div>
        </md-tab>
        <md-tab label="Command line">
          <div>
            <md-list dense>
              <md-list-item>
                <p>These command line instructions require Flatpak 0.6.13 or newer. Once installed, applications can be launched
                  from the usual place in your desktop. For more information on how to update and manage your applications,
                  see the <a href="http://flatpak.org/command-line.html">command line tutorial.</a></p>
              </md-list-item>
              <md-list-item>
                <p>1. If you don't have it already, you'll need to <a href="http://flatpak.org/getting.html">&nbsp;get Flatpak</a></p>
              </md-list-item>
              <md-list-item>
                <p>2. Run this on the command line:</p>
              </md-list-item>
              <md-list-item>
                <pre>flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak install --from {{getDownloadFlatpakRefUrl()}}</pre>
              </md-list-item>
            </md-list>
          </div>
        </md-tab>
      </md-tab-group>
    </md-card>
  </div>
  <div fxFlex="25"></div>
</div>
