<mat-grid-list #applist cols="{{calculatedNumCols}}" gutterSize="12" rowHeight="6:7" (window:resize)="onResize($event)">
  <a *ngFor="let app of appsToShow" href="/apps/details/{{app.flatpakAppId}}"
        (click)="onAppDetails(app); $event.preventDefault()">
    <mat-grid-tile>
      <picture class="app-tile-icon" ngClass.gt-sm="app-tile-icon-desktop">
        <img src="{{app.iconDesktopUrl}}" border="0" alt="">
      </picture>
      <mat-grid-tile-footer>
        <p class="app-name" matLine>{{app.name}}</p>
        <span class="app-summary" matLine>{{app.summary}}</span>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </a>
</mat-grid-list>
