.app-tile-icon {
  margin-left: auto;
  margin-right: auto;
  min-height: 6em;
  filter: drop-shadow(0 0.08rem 0.1rem rgba(0, 0, 0, 0.25))
    drop-shadow(0 0.4rem 0.7rem rgba(0, 0, 0, 0.14));

  img {
    width: 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.app-tile-icon-desktop {
  margin-left: auto;
  margin-right: auto;
  min-height: 10em;

  img {
    width: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

mat-grid-tile {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  cursor: pointer;
  overflow: visible;

  .badge {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 28px;
    width: unset;
    height: unset;
  }
}

mat-grid-tile .app-name {
  font-size: 80%;
  font-weight: 600;
  line-height: 1.4;
}
mat-grid-tile .app-summary {
  font-size: 70%;
  font-weight: normal;
  line-height: 1;
}

mat-grid-tile:hover {
  background-color: #bcbcb6 !important;
}

mat-grid-tile-footer {
  height: 22% !important;
}
