<div fxLayout="column" fxLayoutAlign="start stretch">

  <!-- header -->
  <header fxFlex class="header-container store-content-container-narrow">
    <div class="header-content">
      <h1>About Flathub</h1>

      <p>Flathub aims to be the place to get and distribute apps for Linux. It is powered by
        <a href="https://flatpak.org">Flatpak</a> which allows Flathub apps to run on almost any Linux distribution.</p>

      <p>If you are a Linux user, you can use Flathub to gain access to a growing collection of Flatpak applications. You just
        need to follow the
        <a href="https://flatpak.org/setup/">setup instructions</a>.
      </p>
    </div>
  </header>

  <!-- main content -->
  <section fxFlex class="store-content-container-narrow">
    <h2>Submitting apps</h2>
    <p>App developers can
      <a href="https://github.com/flathub/flathub/wiki/App-Submission">submit their applications</a> to be distributed to Flathub's growing user base, thus providing a single gateway to
      the entire Linux desktop ecosystem. </p>
    <p>At the moment, applications must either be legally redistributable or be available as a third party download. However,
      if you are a proprietary app developer and are interested in using Flathub, we would love to talk to you.</p>

    <h2>Get involved</h2>
    <p>
      Flathub is an attempt to transform the Linux desktop ecosystem for the better, and we need your help. If you can write documentation,
      create websites, administer servers or write code, we would love your help.
    </p>
    
    <h2>Reporting issues</h2>
    <p>
      Security or legal issues can be reported to the
      <a href="mailto:flathub@lists.freedesktop.org">Flathub maintainers</a>.
    </p>

    <h2>Acknowledgements</h2>
    <p>
      Flathub wouldn't be possible without the generous support of the following organizations and individuals.
    </p>
    <div>
      <div class='row'>
        Codethink
      </div>
      <div class='row'>
        Fastly
      </div>
      <div class='row'>
        Mythic Beasts
      </div>
      <div class='row'>
        Scaleway
      </div>
      <br>

      <div class='row largegap'>
          Alex Larsson
        </div>
        <div class='row'>
          Andreas Nilsson
        </div>
        <div class='row'>
          Arun Raghavan
        </div>
        <div class='row'>
          Bartłomiej Piotrowski
        </div>
        <div class='row'>
          Christian Hergert
        </div>
        <div class='row'>
          Christopher Halse Rogers
        </div>
        <div class='row'>
          Cosimo Cecchi
        </div>
        <div class='row'>
          Emmanuele Bassi
        </div>
        <div class='row'>
          G Stavracas Neto
        </div>
        <div class='row'>
          Jakub Steiner
        </div>
        <div class='row'>
          James Shubin
        </div>
        <div class='row'>
          Joaquim Rocha
        </div>
        <div class='row'>
          Jorge García Oncins
        </div>
        <div class='row'>
          Lubomír Sedlář
        </div>
        <div class='row'>
          Nathan Dyer
        </div>
        <div class='row'>
          Nick Richards
        </div>
        <div class='row'>
          Mario Sanchez Prada
        </div>
        <div class='row'>
          Matthias Clasen
        </div>
        <div class='row'>
          Michael Doherty
        </div>
        <div class='row'>
          Robert McQueen
        </div>
        <div class='row'>
          Zach Oglesby
        </div>
    </div>

  </section>

</div>
