 // This component has been adapted from navbar component from material.angulr.io website
 // https://github.com/angular/material.angular.io/tree/master/src/app/shared/navbar
.store-navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }

  > .store-logo-button{
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 70%;
  }
}

.flex-spacer {
  flex-grow: 1;
}

.store-logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}
