<nav class="store-navbar">
  <a mat-button class="store-logo-button" routerLink="/" aria-label="Flathub">
      <img class="store-logo"
        src="../../../assets/themes/flathub/flathub-logo.svg"
        alt="flathub">
      <span>FLATHUB</span>
    </a>
  <a mat-button routerLink="home">Using Flathub</a>
  <a mat-button routerLink="apps">Applications</a>
  <a mat-button href="http://flatpak.org">Flatpak</a>

  <div class="flex-spacer"></div>
  <a mat-button href="https://github.com/flathub/flathub/wiki/Submission-Guidelines" aria-label="Publish your app in flathub">
    Publish your app
  </a>
</nav>
