.install-button-container {
  background-color: gray !important;
}

.app-details-main-logo {
  width: 128px;
  padding-top: 40px;
}

.app-details-main-logo-lt-sm {
  width: 64px;
  padding-top: 64px;
}

.app-details-main-summary {
  font-size: 14px;
  line-height: 1.4;
  text-align: justify;
  text-justify: inter-word;
}

.app-details-main-installhint {
  margin-top: 0.5em !important;
  color: #808080;
}
