.install-button-container {
  background-color: gray !important;
}

.app-details-main-logo {
  width: 128px;
  padding-top: 40px;
  filter: drop-shadow(0 0.08rem 0.1rem rgba(0,0,0, 0.25)) drop-shadow(0 0.4rem 0.7rem rgba(0,0,0, 0.14));
}

.app-details-main-logo-lt-sm {
  width: 64px;
  padding-top: 64px;
}

.app-details-main-summary {
  font-size: 14px;
  line-height: 1.4;
  text-align: justify;
  text-justify: inter-word;
}

.app-details-main-installhint {
  margin-top: 0.5em !important;
  color: #808080;
}
