<div *ngIf="app" fxLayout="row" fxLayoutAlign="start stretch">
  <div fxFlex="20">
    <img *ngIf="app.iconDesktopUrl" class="app-details-main-logo" ngClass.lt-sm="app-details-main-logo-lt-sm" src="{{app.iconDesktopUrl}}" border="0" alt="{{app.name}}">
  </div>
  <div fxFlex="5">
  </div>
  <div fxFlex="75">
    <h2>{{app.name}}</h2>
    <p class="app-details-main-summary">{{app.summary}}</p>
    <a href="{{app.downloadFlatpakRefUrl}}" mat-raised-button
       color="primary" (click)="onInstall(); $event.preventDefault()">
       INSTALL
    </a>
    <h6 class="app-details-main-installhint">Make sure to follow the <a href="https://flatpak.org/setup/">setup guide</a> before installing</h6>
  </div>
</div>
