<div class="content-grid">

	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--12-col section-name">Applications</div>
	</div>

	<div class="mdl-grid">

		<mdl-card class="app-card" mdl-shadow="2" *ngFor="let app of apps" (click)="gotoDetail(app.flatpakAppId)">
			<mdl-card-title>
      <img class="app-card-icon" src="{{app.iconUrl}}" border="0" alt="">
			</mdl-card-title>
			<mdl-card-supporting-text>
				<h2 mdl-card-title-text class="app-card-name ellipsis">{{app.name}}</h2>
			<!--	<p class="app-card-publisher ellipsis">{{app.publisherName}} </p> -->
        <p class="app-card-summary ellipsis">{{app.summary}}</p>
			</mdl-card-supporting-text>
		</mdl-card>

	</div>


</div>
