<h2>Apps</h2>

<ul class="heroes">
	<li *ngFor="let app of apps" (click)="onSelect(app)">
		<span class="badge">{{app.id}}</span>
		<span>{{app.name}}</span>
		<button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="gotoDetail(app.id)" [class.selected]="isSelected(myProduct)">
      View Details
    </button>
	</li>
</ul>

 <mdl-card class="demo-card-event" mdl-shadow="2">
    <mdl-card-title mdl-card-expand>
 <h4>
       Unwind! Relax! Breathe!<br>
       You deserve a holiday
    </h4>
    </mdl-card-title>
    <mdl-card-actions mdl-card-border>
      <button mdl-button mdl-colored mdl-ripple (click)="booknow()">
      Book now
      </button>
      <mdl-layout-spacer></mdl-layout-spacer>
      <mdl-icon>event</mdl-icon>
    </mdl-card-actions>
  </mdl-card>
