
.section-name{
   	font-size: 20px;
}

.app-card{
    float: left;
    position: relative;
    width: 160px;
    height: 210px;
    margin:5px;
}

.app-card-icon{
   width: 100px;
   height: 100px;
   margin-top: 10px;
   margin-left: 15px;
   vertical-align: middle;
}

.app-card-name{
  font-size: 14px;
  padding-right: 1px;
  margin-left: 1px;
}

.app-card-publisher{
	font-size: 12px;
  padding-right: 1px;
  margin-left: 1px;
}

.app-card-summary{
	font-size: 12px;
  padding-right: 1px;
  margin-left: 1px;
}



