<div fxLayout="column" fxLayoutAlign="start stretch">

  <!-- header -->
  <header fxFlex class="header-container store-content-container">
    <div class="header-content">
      <h1>Apps for Linux, right here</h1>
      <p>
        Welcome to Flathub, the home of hundreds of apps which can be easily installed on any Linux distribution. Browse the apps
        online, from your app center or the command line.
      </p>
      <div>
        <a mat-raised-button color="primary" href="https://flatpak.org/setup">Quick setup</a>
        <a mat-raised-button color="primary" routerLink="/apps">Browse the apps</a>
      </div>
    </div>
  </header>

  <!-- main content -->
  <section fxFlex class="store-content-container">
    <div *ngIf="featuredCollections">
      <store-app-collection-teaser *ngFor="let collection of featuredCollections" [collectionId]="collection.id" [collectionTitle]="collection.name"
        [collectionList]="getAppsByCollectionId(collection.id)">
      </store-app-collection-teaser>
    </div>
  </section>

</div>
