<div fxLayout="column" fxLayoutAlign="start stretch">

  <!-- header -->
  <header fxFlex class="header-container store-content-container">
    <div class="header-content">
      <h1>Apps for Linux, right here</h1>

      <p>
        Welcome to Flathub, the home of hundreds of apps which can be easily installed on any Linux distribution. Browse the apps
        online, from your app center or command line.
      </p>
      <div>
        <button mat-raised-button color="primary">Quick setup</button>
        <button mat-raised-button color="primary" routerLink="/apps">Browse the apps</button>
      </div>
    </div>
  </header>

  <!-- main content -->
  <section fxFlex class="store-content-container">

    <store-app-collection-teaser [collectionId]="this.popularCollectionId" [collectionTitle]="this.popularCollectionTitle" [collectionList]="this.popularCollectionList"
      (showAppDetails)="onShowAppDetails($event)" (showCollection)="onShowCollection($event)"></store-app-collection-teaser>

    <store-app-collection-teaser [collectionId]="this.recentlyUpdatedCollectionId" [collectionTitle]="this.recentlyUpdatedCollectionTitle"
      [collectionList]="this.recentlyUpdatedCollectionList" (showAppDetails)="onShowAppDetails($event)" (showCollection)="onShowCollection($event)"></store-app-collection-teaser>

    <store-app-collection-teaser [collectionId]="this.editorsChoiceAppsCollectionId" [collectionTitle]="this.editorsChoiceAppsCollectionTitle"
      [collectionList]="this.editorsChoiceAppsCollectionList" (showAppDetails)="onShowAppDetails($event)" (showCollection)="onShowCollection($event)"></store-app-collection-teaser>

    <store-app-collection-teaser [collectionId]="this.editorsChoiceGamesCollectionId" [collectionTitle]="this.editorsChoiceGamesCollectionTitle"
      [collectionList]="this.editorsChoiceGamesCollectionList" (showAppDetails)="onShowAppDetails($event)" (showCollection)="onShowCollection($event)"></store-app-collection-teaser>

  </section>

</div>
