gallery {
  margin: 2vh 0;
  background: transparent;
  padding-top: 0;

  ::ng-deep image-item div {
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.gallery-mobile{
  max-height: 200px;
}

.gallery-desktop{
  min-height: 450px;
}

.app-details-description {
  font-size: 16px;
  line-height: 1.35;
  color: #24292e;
}
