gallery {
  margin: 2vh 0;
  height: 500px;
  background: #BCBCB6;

  ::ng-deep image-item div {
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.app-details-description {
  font-size: 16px;
  line-height: 1.35;
  color: #24292e;
}
