<div>
  <gallery *ngIf="items" class="gallery-mobile mat-elevation-z1" ngClass.gt-sm="gallery-desktop" [items]="items"
    [counter]="false"
    [thumb]="this.showThumbnails"
    [thumbWidth]="90"
    [thumbHeight]="70"></gallery>
  <div *ngIf="app" class="app-details-description" [innerHTML]="app.description"></div>
  <h3 *ngIf="this.showCurrentReleaseInfo">Changes in version {{app.currentReleaseVersion}}</h3>
  <div *ngIf="this.showCurrentReleaseInfo" class="app-details-description" [innerHTML]="app.currentReleaseDescription"></div>
</div>
