gallery {
  margin: 2vh 0;
  height: 500px;
  background: #BCBCB6;

  ::ng-deep image-item div {
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.app-details-description {
  font-size: 14px;
  line-height: 1.4;
  text-align: justify;
  text-justify: inter-word;
}
