.dev-name-title{
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 13px;
  line-height: 16px;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
}

.button-bar {
  padding-bottom: 50px;
}

.app-info-item{
  padding-bottom: 20px;
}

