.app-links-button-bar {
  padding-bottom: 25px;
}

.app-info-item {
  padding-bottom: 20px;
}

.app-info-item-title {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 13px;
  line-height: 16px;
}

.app-info-item-value {
  font-size: 13px;
  line-height: 16px;
}

.app-info-item-value-text {
  color: black;
}

.app-info-item-value-link {
      color: #4a86cf;
      transition: color .35s;
      text-decoration: none;
      background-color: transparent; 
}

.app-info-item-value-link:active, a:visited {
    color: #4a86cf;
}

.app-info-item-value-link:hover {
  text-decoration: underline;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
}