<div class="content-grid">

	<div *ngIf="app" class="mdl-grid">

		<div class="mdl-cell mdl-cell--4-col">
			<img src="{{app.storeIconUrl}}" border="0" alt="">
		</div>

		<div class="mdl-cell mdl-cell--8-col">

			<div class="mdl-grid">

				<p class="mdl-cell mdl-cell--12-col mdl-typography--display-2">{{app.name}}</p>
				<p class="mdl-cell mdl-cell--12-col mdl-typography--subhead">{{app.summary}}</p>
				<button (click)="install()">Install</button>
			</div>
		</div>

		<div class="mdl-cell mdl-cell--12-col">
			<!--<p class="mdl-cell mdl-cell--12-col mdl-typography--body-1"></p>-->
			<div class="mdl-cell mdl-cell--12-col mdl-typography--body-1" [innerHTML]="app.description">
			</div>


		</div>


	</div>
