@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import 'app/shared/footer/footer-theme.scss';
@import 'app/pages/app-list/app-list-theme.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$linux-store-primary: mat-palette($mat-indigo);
$linux-store-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$linux-store-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$linux-store-theme: mat-light-theme($linux-store-primary, $linux-store-accent, $linux-store-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include footer-theme($linux-store-theme);
@include app-list-theme($linux-store-theme);

@include angular-material-theme($linux-store-theme);
