/* You can add global styles to this file, and also import other style files */

//@import "~@angular/material/prebuilt-themes/indigo-pink.css";


// some basic resets
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.app{
    height: 100vh;    // emmet h100vh
}
