<footer class="store-footer">
  <div class="store-footer-list">

    <div class="store-footer-links">
      <ul>
        <li>
          <a routerLink="home">HOME</a>
        </li>
        <li>
          <a routerLink="apps">APPLICATIONS</a>
        </li>
        <li>
          <a href="https://github.com/flathub/flathub/wiki/App-Submission" aria-label="Publish your app in flathub">PUBLISH YOUR APP
            <mat-icon class="open-in-new">open_in_new</mat-icon>
          </a>
        </li>
        <li>
          <a href="http://flatpak.org">FLATPAK
            <mat-icon class="open-in-new">open_in_new</mat-icon>
          </a>
        </li>
      </ul>
    </div>

    <div class="store-footer-copyright">
      <p>Powered by
        <a href="https://github.com/jgarciao/linux-store-frontend">Linux Store Frontend</a>
      </p>
    </div>
  </div>
</footer>
