<footer class="store-footer store-content-container-narrow">
  <nav fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around start">
    <ul fxFlex>
      <li class="store-footer-list-header"><strong>Applications</strong></li>
      <li><a routerLink="apps/collection/popular">Popular</a></li>
      <li><a routerLink="apps/collection/recently-updated">New &amp; Updated</a></li>
      <li><a routerLink="apps/collection/editors-choice-apps">Editor's Choice</a></li>
      <li><a routerLink="apps/collection/editors-choice-games">Editor's Choice Games</a></li>
      <li><a routerLink="apps">Browse Apps</a></li>
    </ul>
    <ul fxFlex>
      <li class="store-footer-list-header"><strong>Community</strong></li>
      <li><a href="https://flatpak.org/about/">Get involved</a></li>
      <li><a href="https://twitter.com/FlatpakApps">Follow us</a></li>
      <!-- <li><a routerLink="conduct">Code of conduct</a></li> -->
    </ul>
    <ul fxFlex>
      <li class="store-footer-list-header"><strong>Developers</strong></li>
      <li><a href="https://github.com/flathub/flathub/wiki/App-Submission">Publish your app</a></li>
      <li><a href="http://docs.flatpak.org">Documentation</a></li>
      <li><a href="https://github.com/flathub/">Example build files</a></li>
      <li><a routerLink="badges">Badges</a></li>
    </ul>
    <ul fxFlex>
      <li class="store-footer-list-header"><strong>Flathub</strong></li>
      <li><a routerLink="about">About Flathub</a></li>
      <!-- <li><a href="https://blog.flathub.org">Blog</a></li>
      <li><a>FAQ</a></li>
      <li><a routerLink="terms">Terms Of Service</a></li>
      <li><a routerLink="privacy">Privacy Policy</a></li> -->
      <li><a href="https://status.flathub.org">Flathub Status</a></li>
    </ul>
  </nav>

  <div class="store-footer-copyright">
    <p>Powered by <a href="https://github.com/flathub/linux-store-frontend">Linux Store Frontend</a> v{{version.version}} {{version.hash}}</p>
  </div>
</footer>
